#header {
	max-width: 100%;
	height: 10rem;
	background-color: #ffef6e;
}
#beginning {
	max-width: 120rem;
	margin: 0 auto;
	height: 10rem;

	display: flex;
}

#wrap-nav {
	width: 70rem;
	height: 10rem;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

#nav {
	width: 35rem;
	height: 5rem;
	position: fixed;
	margin-top: 2rem;
	border: 3px solid black;
	background-color: white;
	z-index: 600;
	box-shadow: 5px 4px 0 0 #ccc;
}

.nav-list {
	width: 30rem;
	height: 5rem;
	display: flex;
	align-content: space-around;
	justify-content: space-around;
	font-size: 1.5rem;
	font-family: "Fredoka One", cursive;
}

#shop {
	width: 14.5rem;
	height: 5rem;
	position: fixed;
	background-color: white;
	border: 3px solid black;
	z-index: 600;
	box-shadow: 5px 4px 0 0 #ccc;
}

#wrap-all {
	margin: 0 auto;
	width: 120rem;
	height: 10rem;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
#wrap-shop {
	width: 15rem;
	height: 8rem;
	display: flex;
}

.logo {
	width: 25rem;
	height: 20rem;
	z-index: 600;
	position: fixed;
}

#wrap-logo {
	width: 25rem;
	height: 20rem;
}
.logo img {
	width: 25rem;
	height: auto;
}

footer {
	width: 100%;
	height: 100rem;
	background-color: crimson;
}

#ad {
	width: 100%;
	height: 80%;
	background-color: darkseagreen;
}

#end {
	width: 100%;
	height: 20%;
	background-color: hotpink;
}
