#header {
	max-width: 120rem;
	margin: 0 auto;
	height: 10rem;
	background-color: yellow;
	display: flex;
}

#wrap-nav {
	width: 40rem;
	height: 10rem;
	background-color: aquamarine;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

#nav {
	width: 30rem;
	height: 5rem;
	background-color: chartreuse;

	margin-top: 2rem;
	border: 5px solid black;
}

.logo {
	width: 25rem;
	height: 30rem;
	background-color: royalblue;

	z-index: 1;
}

#wrap-logo {
	width: 40rem;
	height: 40rem;
	background-color: rosybrown;
}
.logo img {
	width: 25rem;
	height: auto;
}

footer {
	width: 100%;
	height: 100rem;
	background-color: crimson;
}

#ad {
	width: 100%;
	height: 80%;
	background-color: darkseagreen;
}

#end {
	width: 100%;
	height: 20%;
	background-color: hotpink;
}
