#header {
	max-width: 120rem;
	margin: 0 auto;
	height: 10rem;
	background-color: yellow;
	display: flex;
	justify-content: space-around;
}

#nav {
	width: 50rem;
	height: 5rem;
	background-color: chartreuse;
}

.logo img {
	width: 25rem;
	height: auto;
}
