#header {
	max-width: 120rem;
	margin: 0 auto;
	height: 10rem;
	background-color: yellow;
	display: flex;
	justify-content: space-around;
}

#nav {
	width: 50rem;
	height: 5rem;
	background-color: chartreuse;
}

.logo {
	display: fixed;
	z-index: 1;
}
.logo img {
	width: 25rem;
	height: auto;
}

section {
	max-width: 120rem;
	height: 400rem;
	background-color: greenyellow;
	margin: 0 auto;
}
.text-wbb {
	width: 120rem;
	height: 52rem;
	background-color: hotpink;
}

#box {
	width: 100rem;
	height: 50rem;
	background-color: indigo;
	padding-bottom: 30rem;
}

.svg1 {
	width: 50rem;
	height: 50rem;
	background-color: khaki;
}

#illustration {
	width: 120rem;
	height: 30rem;
	background-color: green;
	padding-bottom: 10rem;
}

#wbb {
	width: 120rem;
	height: 40rem;
	background-color: dodgerblue;
	padding-bottom: 20rem;
	display: flex;
}

.explain-wbb {
	width: 70rem;
	height: 40rem;
	background-color: firebrick;
}

.wbb-svg {
	width: 50rem;
	height: 40rem;
	background-color: gold;
}

#sale {
	width: 100%;
	height: 30rem;
	background-color: hotpink;
	display: flex;
	align-content: center;
	align-items: flex-end;
	justify-content: space-around;
	padding-bottom: 30rem;
}

.on {
	width: 23%;
	height: 28rem;
	background-color: indianred;
}

footer {
	width: 100%;
	height: 30rem;
	background-color: crimson;
}
