#header {
	max-width: 100%;
	height: 10rem;
	background-color: #ffef6e;
}
#beginning {
	max-width: 120rem;
	margin: 0 auto;
	height: 10rem;

	display: flex;
}

#wrap-nav {
	width: 70rem;
	height: 10rem;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

#nav {
	width: 35rem;
	height: 5rem;
	position: fixed;
	margin-top: 2rem;
	border: 3px solid black;
	background-color: white;
	z-index: 600;
	box-shadow: 0 4px 0 0 #ccc;
}

.nav-list {
	width: 30rem;
	height: 5rem;
	display: flex;
	align-content: space-around;
	justify-content: space-around;
	font-size: 1.5rem;
	font-family: "Fredoka One", cursive;
}

#shop {
	width: 10rem;
	height: 4rem;

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: white;
	border: 3px solid black;

	box-shadow: 5px 4px 0 0 #ccc;
}

.icon-shop {
}

#wrap-shop {
	position: relative;
	top: 7px;
	right: 5px;
	width: 10rem;
	height: 1rem;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

#wrap-all {
	margin: 0 auto;
	width: 120rem;
	height: 10rem;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 600;
}
#wrap-shop {
	width: 15rem;
	height: 8rem;
	display: flex;
}

.logo {
	width: 25rem;
	height: 20rem;
	z-index: 600;
	position: fixed;
}

#wrap-logo {
	width: 25rem;
	height: 20rem;
}
.logo img {
	width: 25rem;
	height: auto;
}

#theend {
	width: 100%;
	height: 20rem;
	background-color: #ff3892;
}

.social {
	width: 20rem;
	height: 10rem;
	background-color: yellowgreen;
	display: flex;
	align-content: space-around;
	align-items: stretch;
	justify-content: space-around;
}
.social img {
	width: 5rem;
	height: 5rem;
}

.reference {
	width: 20rem;
	height: 10rem;
	background-color: violet;
}
