#header {
	max-width: 120rem;
	margin: 0 auto;
	height: 10rem;
	background-color: yellow;
	display: flex;
	justify-content: space-around;
}

#nav {
	width: 50rem;
	height: 5rem;
	background-color: chartreuse;
}

.logo {
	display: fixed;
	z-index: 1;
}
.logo img {
	width: 25rem;
	height: auto;
}

section {
	max-width: 120rem;
	height: 400rem;
	background-color: greenyellow;
	margin: 0 auto;
}
.text-wbb {
	width: 120rem;
	height: 52rem;
	background-color: hotpink;
}

#box {
	width: 100rem;
	height: 50rem;
	background-color: indigo;
}

.svg1 {
	width: 50rem;
	height: 50rem;
	background-color: khaki;
}

footer {
	width: 100%;
	height: 30rem;
	background-color: crimson;
}
