#section {
	max-width: 100%;
	height: 530rem;
	background-color: #ffef6e;
	transition: background-color 0.8s;
	margin: 0 auto;
}

.text-we {
	width: 120rem;
	height: 60rem;
	background-color: aqua;
	margin: 0 auto;
}

.text-bb {
	width: 120rem;
	height: 30rem;
}

.text-we img {
	width: 50rem;
}

.text-bb img {
	width: 120rem;
}

#box {
	width: 120rem;
	height: 50rem;
	background-color: indigo;
	padding-bottom: 30rem;
	margin: 0 auto;
	display: flex;
}

.svg1 {
	width: 50rem;
	height: 60rem;
	background-color: khaki;
}

.next_svg1 {
	width: 60rem;
	height: 60rem;
	background-color: coral;
	font-family: "Fredoka One", cursive;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.svg_btm {
	width: 60rem;
	height: 25rem;
}

.svg.btm img {
	width: 50rem;
}

#illustration {
	width: 120rem;
	height: 30rem;
	background-color: green;
	padding-bottom: 10rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#wbb {
	width: 120rem;
	height: 25rem;
	background-color: dodgerblue;
	padding-bottom: 20rem;
	display: flex;
	margin: 0 auto;
}

.explain-wbb {
	width: 70rem;
	height: 40rem;
	background-color: firebrick;
}

.explain-text {
	font-family: "Fredoka One", cursive;
	font-size: 2rem;
}

.wbb-svg {
	width: 50rem;
	height: 40rem;
	background-color: gold;
}

#sale {
	width: 120rem;
	height: 50rem;
	background-color: hotpink;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.wrap-on {
	width: 100%;
	height: 28rem;
}
.on {
	width: 100%;
	height: 28rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.on:hover {
	box-shadow: 5px 5px #ccc;
	border: 5px solid gray;
	margin: -5px;
}

.on img {
	max-width: 70%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.location-b {
	width: 100%;
	height: 20rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.bwo {
	width: 100%;
	height: 16rem;
}

.bears {
	width: 100%;
	height: 3rem;
	font-size: 2rem;
}

.wrap-bears {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.details {
	text-decoration: underline;
	font-size: 1.5rem;
}

#button {
	width: 120rem;
	margin: 0 auto;
	height: 5rem;
	background-color: yellow;
	padding-bottom: 30rem;
}

#video {
	width: 120rem;
	margin: 0 auto;
	height: 60rem;
	background-color: turquoise;
	display: flex;
}

.left-text {
	width: 45%;
	height: 60rem;
	background-color: tomato;
}

.right-text {
	width: 55%;
	height: 60rem;
	background-color: turquoise;
	display: flex;
	flex-direction: column;
}

.holder {
	width: 100%;
	height: 10%;
	background-color: violet;
}

.media {
	width: 100%;
	height: 90%;
	background-color: yellow;
}

#wbb-animation {
	width: 120rem;
	height: 30rem;
	margin: 0 auto;
	background-color: darkorange;
	padding-bottom: 10rem;
}

#text-explain {
	width: 120rem;
	height: 25rem;
	margin: 0 auto;
	background-color: darkorchid;
	padding-bottom: 20rem;
}
