#section {
	max-width: 100%;
	height: 620rem;
	background-color: #ffef6e;
	transition: background-color 0.8s;
	margin: 0 auto;
}

.wrap-text-we {
	width: 100%;
	height: 60rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
.text-we {
	width: 120rem;
	height: 60rem;

	position: relative;
}

.text-we img {
	width: 30%;
}

.svg0 {
	width: 30rem;
	height: 30rem;

	position: absolute;
	left: 900px;
	bottom: 500px;
	z-index: 1;
}

.svg0 img {
	width: 100%;
}

#right-hand {
	animation: wave 1s ease;
	transform-origin: center;
}

@keyframes wave {
	from {
		transform: scaleX(30deg);
	}

	to {
		transform: scaleX(60deg);
	}
}

#right-leg {
	animation: leg 3s ease-in;
}

@keyframes leg {
	from {
		transform: scaleX(0deg);
	}

	to {
		transform: scaleX(30deg);
	}
}

.text-bb {
	width: 120rem;
	height: 30rem;
}

.text-bb img {
	width: 100%;
}

#box-wrap {
	width: 100%;
	height: 80rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
#box {
	width: 120rem;
	height: 50rem;
	background-color: indigo;
	padding-bottom: 30rem;

	display: flex;
}

.svg1 {
	width: 40rem;
	height: 60rem;
	background-color: khaki;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next_svg1 {
	width: 60rem;
	height: 60rem;
	background-color: coral;
	font-family: "Fredoka One", cursive;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.svg_btm {
	width: 60rem;
	height: 25rem;
}

.svg.btm img {
	width: 50rem;
}

#illustration {
	width: 120rem;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: cadetblue;
	margin: 0 auto;
}

.wrap-illustration {
	width: 100%;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#wbb {
	width: 120rem;
	height: 25rem;
	background-color: dodgerblue;
	padding-bottom: 20rem;
	display: flex;
}

.wrap-wbb {
	width: 100%;
	height: 50rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.explain-wbb {
	width: 70rem;
	height: 50rem;
	background-color: firebrick;
}

.explain-text {
	font-family: "Fredoka One", cursive;
	font-size: 2rem;
}

.wbb-svg {
	width: 50rem;
	height: 40rem;
	background-color: gold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wbb-svg img {
	width: 50%;
}

#sale {
	width: 120rem;
	height: 50rem;
	background-color: hotpink;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.wrap-sale {
	width: 100%;
	height: 50rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap-on {
	width: 100%;
	height: 28rem;
}
.on {
	width: 100%;
	height: 28rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.on:hover {
	box-shadow: 5px 5px #ccc;
	border: 5px solid gray;
	margin: -5px;
}

.on img {
	max-width: 70%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.location-b {
	width: 100%;
	height: 20rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.bwo {
	width: 100%;
	height: 16rem;
}

.bears {
	width: 100%;
	height: 3rem;
	font-size: 2rem;
}

.wrap-bears {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.details {
	text-decoration: underline;
	font-size: 1.5rem;
}

.wrap-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

#video {
	width: 70%;
	margin: 0 auto;
	height: 90rem;

	display: flex;
}

.wrap-video {
	background-color: #ff3892;
	border-bottom: black 10px solid;
	width: 100%;
	height: 90rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-text {
	width: 30%;
	height: 90rem;
	background-color: tomato;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inside-text {
	width: 100%;
	height: auto;

	font-size: 2rem;
}

.btn1 {
	width: 80%;
	height: 4rem;
	background-color: honeydew;
	border: #1d39c4 5px solid;
	box-shadow: 5px 4px 0 0 #1d39c4;
	padding: 2rem;
	font-family: "Fredoka One", cursive;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-text {
	width: 60%;
	height: 63rem;
	background-color: turquoise;
	display: flex;
	flex-direction: column;
	margin-left: 20rem;
}

.holder {
	width: 100%;
	height: 10%;
	background-color: violet;
	display: flex;
	align-items: center;
	justify-content: center;
}

.media {
	width: 90%;
	height: 90%;
	position: static;
	display: block;
	margin-top: -2rem;
	padding: 24px;
	border: 5px solid #000;
	background-color: #e2b683;
	background-image: none;
	background-size: auto;
	background-repeat: repeat;
	box-shadow: -2px 10px 0 -1px transparent;
}

.video {
	position: relative;
	width: 99%;
	height: 50rem;
	padding-top: 2rem;
	background-color: brown;
	border: 4px solid black;
}

#wbb-animation {
	width: 100%;
	height: 30rem;
	margin: 0 auto;
	background-color: #a4ffa2;
	padding-bottom: 10rem;
}

#store {
	width: 100%;
	height: 60rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	background-color: #202020;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#a4ffa2),
		color-stop(32%, #202020)
	);
	background-image: linear-gradient(180deg, #a4ffa2, #202020 32%);
}

.store-text {
	width: 50%;
	height: 20rem;

	color: white;
}

.wrap-store-text {
	width: 100%;
	height: 60rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*.textdec3{
	display: none;
}
.text-dec4{
	display: none;
}*/

.text-deco {
	font-size: 2.5rem;
}

.text-deco2 {
	font-size: 2rem;
}

#text-explain {
	width: 100%;
	height: 100rem;
	margin: 0 auto;

	background-size: 170rem 100rem;
	background-repeat: no-repeat;

	background-image: webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#202020),
		color-stop(33%, rgba(33, 32, 32, 0))
	);
	background-image: linear-gradient(180deg, #202020, rgba(33, 32, 32, 0) 33%),
		url("../img/card.png");
	background-position: 0 0, 50% 0;
	padding-bottom: 20rem;
}

.svg-last {
	width: 20rem;
	height: 20rem;
	position: absolute;
}

.wrap-svg-star {
	width: 100%;
	height: 20rem;
	background-color: beige;
}

.wrap-svg-star2 {
	width: 100%;
	height: 20rem;
	background-color: yellow;
	display: flex;
	justify-content: flex-end;
}

.wrap-svg-star3 {
	width: 100%;
	height: 20rem;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy {
	width: 30rem;
	height: 15rem;
	position: relative;
	top: 260px;
	left: 50px;
	z-index: 1;
	font-size: 2em;
	font-style: italic;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
}

.rotating-bear {
	position: fixed;
	left: auto;
	top: auto;
	right: 20px;
	bottom: 0;
	z-index: 996;
	width: 200px;
	height: 200px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0;
}

.text {
	position: relative;
	top: auto;
	z-index: 1000;
	width: 174px;
	max-width: 80%;
	margin-top: 0;
	margin-left: 24px;
	will-change: transform;
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
		rotateY(0deg) rotateZ(352.634deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}

.rotating-bear img {
	width: 20rem;
	height: 20rem;
}
