#section {
	max-width: 100%;
	height: 530rem;
	background-color: #ffef6e;
	transition: background-color 0.8s;
	margin: 0 auto;
}

.text-wbb {
	width: 120rem;
	height: 52rem;
	background-color: hotpink;
	margin: 0 auto;
}

#box {
	width: 120rem;
	height: 50rem;
	background-color: indigo;
	padding-bottom: 30rem;
	margin: 0 auto;
}

.svg1 {
	width: 50rem;
	height: 50rem;
	background-color: khaki;
}

#illustration {
	width: 120rem;
	height: 30rem;
	background-color: green;
	padding-bottom: 10rem;
	margin: 0 auto;
}

#wbb {
	width: 120rem;
	height: 40rem;
	background-color: dodgerblue;
	padding-bottom: 20rem;
	display: flex;
	margin: 0 auto;
}

.explain-wbb {
	width: 70rem;
	height: 40rem;
	background-color: firebrick;
}

.wbb-svg {
	width: 50rem;
	height: 40rem;
	background-color: gold;
}

#sale {
	width: 120rem;
	height: 30rem;
	background-color: hotpink;
	display: flex;
	align-content: center;
	align-items: flex-end;
	justify-content: space-around;
	margin: 0 auto;
}

.on {
	width: 23%;
	height: 28rem;
	background-color: indianred;
}

#button {
	width: 120rem;
	margin: 0 auto;
	height: 5rem;
	background-color: yellow;
	padding-bottom: 30rem;
}

#video {
	width: 120rem;
	margin: 0 auto;
	height: 60rem;
	background-color: turquoise;
	display: flex;
}

.left-text {
	width: 45%;
	height: 60rem;
	background-color: tomato;
}

.right-text {
	width: 55%;
	height: 60rem;
	background-color: turquoise;
	display: flex;
	flex-direction: column;
}

.holder {
	width: 100%;
	height: 10%;
	background-color: violet;
}

.media {
	width: 100%;
	height: 90%;
	background-color: yellow;
}

#wbb-animation {
	width: 120rem;
	height: 30rem;
	margin: 0 auto;
	background-color: darkorange;
	padding-bottom: 10rem;
}

#text-explain {
	width: 120rem;
	height: 25rem;
	margin: 0 auto;
	background-color: darkorchid;
	padding-bottom: 20rem;
}
