html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "Fredoka One", cursive;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}
